<div class="container">
  <div class="craft-bg orenge-light">
    <h2 class="common-hd">Craft Your Own Jewelry </h2>
    <ul class="craft-steps">
      <li>Select Jewelry Type</li>
      <li>Select Stones</li>
      <li>Select One Metal</li>
    </ul>
    
    <div class="pro-step">
      <ul>
        <li class="active"><span class="pro-img"><img class="lazy-loaded" src="https://via.placeholder.com/50"></span><h3>Rings</h3></li>
        <li><span class="pro-img"><img class="lazy-loaded" src="https://via.placeholder.com/50"></span><h3>Necklaces</h3></li>
        <li><span class="pro-img"><img class="lazy-loaded" src="https://via.placeholder.com/50"></span><h3>Earrings</h3></li>
        <li><span class="pro-img"><img class="lazy-loaded" src="https://via.placeholder.com/50"></span><h3>Bracelets</h3></li>
      </ul>
    </div>
    <div class="text-center"><a href="#" class="btn common-btn">Continue to Stones</a></div>
  </div>
</div>



{% schema %}
  {
    "name": "Craft Content",
	"class": "index-section",
    "settings": [
		
	],
	"presets": [
		{
          "name": "Craft section",
          "category": "Craft"
        }
	]
  }
{% endschema %}