<div class="row">
  {% comment %}
  {% if settings.display_sidebar_cat_page %}
   {% section 'sidebar' %}
  {% endif %}
  {% endcomment %}
  <div class="block-row">
    {% render 'collection-header-main' %}
    {% section 'collection-template-main' %}
  </div>
</div>




